body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background: darkslategrey;
    --text: #def3f8;
}

#canvas, #content {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    vertical-align: top;
    box-shadow: 8px 8px 12px rgb(26, 26, 26);
}

#canvas {
    background-color: rgb(146, 146, 146);
}

top, bottom {
    position: absolute;
    display: block;
    right: 0;
    color: gray;
    margin-right: 15px;
}

top {
    margin-top: 10px;
    top: 0;
}

bottom {
    margin-bottom: 10px;
    bottom: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: black;
}

#content {
    user-select: none;
    box-sizing: border-box;
    padding: 40px;
    width: 450px;
    visibility: hidden;
    background-color: rgb(250, 250, 250);
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Tahoma';
    letter-spacing: 2px;
}

h2 {
    margin-bottom: 10px;
    position: relative;
    font-family: sans-serif;
}

min {
    position: absolute;
    font-family: arial;
    bottom: 0;
    text-align: bottom;
    font-size: 17px;
    color: gray;
    right: 0;
}

ul {
    margin: 0;
}

li {
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 20px;
}

li span {
    font-family: 'Arial';
    position: relative;
    font-size: 18px;
    left: -5px;
}

#Update {
    display: none;
}

#Control {}

#Shop {
    display: none;
}

.control_list {
    position: relative;
    background-color: #8080805F;
    height: 40px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.key {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 20px;
}

.range, .range_fill {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.rangeslider {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 130px;
    right: 0;
    margin-right: 10px;
}

.rangeslider--horizontal .rangeslider__handle {
    top: -5px;
    width: 18px;
    height: 18px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
}

.rangeslider__handle:after {
    width: 9px;
    height: 9px;
}

.rangeslider__show {
    position: absolute;
    top: -30px;
    padding: 4px 8px;
    background-color: #292A2D;
    border: 1px outset #CFD1D4;
    color: #CFD1D4;
    font-size: 5px;
    font-family: Arial;
    visibility: hidden;
}